:host {
  display: block;
}

.project-card {
  &:first-child:hover {
    transform: translateY(-1rem) rotate(-3deg) !important;
  }

  &:last-child:hover {
    transform: translateY(-1rem) rotate(3deg) !important;
  }
}


